<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    {% if site.twitter_username %}
                    <li class="list-inline-item">
                        <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                        </a>
                    </li>
                    {% endif %}

                    {% if site.github_username %}
                    <li class="list-inline-item">
                        <a href="https://github.com/{{ site.github_username }}" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                        </a>
                    </li>
                    {% endif %}

                    {% if site.stackoverflow_link %}
                    <li class="list-inline-item">
                        <a href="https://stackoverflow.com/{{ site.stackoverflow_link }}" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
                        </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <p class="copyright text-muted">Copyright &copy; 2017 {{ site.title }}</p>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/popper.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Custom scripts for this template -->
<script src="{{ "/js/clean-blog.min.js" | prepend: site.baseurl }}"></script>
  